<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>pod:</th>
      <td>{{ hostName }}</td>
    </tr>
    <tr>
      <th>node type:</th>
      <td>{{ platform }} ({{ release }})</td>
    </tr>
    <tr>
      <th>namespace:</th>
      <td>{{ namespace }}</td>
    </tr>
    <tr>
      <th>X-Forwarded-For:</th>
      <td>{{ xForwardedFor }}</td>
    </tr>
    <tr>
      <th>credentials:</th>
      <td>{{ creds }}</td>
    </tr>
  </table>

</div>
